<div>
  <mat-card class="home__reading-card">
    <mat-card-title>Currently Reading</mat-card-title>
    <mat-card-content
      >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nunc sem,
      scelerisque vel neque ac, auctor volutpat nibh. Ut magna magna, dignissim
      sed est id, dictum pulvinar sapien. Vivamus posuere tortor eu fermentum
      vulputate. Maecenas sollicitudin turpis urna, id ullamcorper nibh feugiat
      facilisis. Curabitur posuere libero quis ex convallis varius eu ac odio.
      Vivamus ut libero feugiat, commodo turpis facilisis, congue risus. Nulla
      sodales eleifend venenatis. Quisque pharetra cursus sollicitudin.
      Phasellus semper dolor quis nisi imperdiet malesuada.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Change</button>
      <button mat-button>Progress</button>
      <button mat-button>Notes</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="home__reading-card">
    <mat-card-title>Your Reading Progress</mat-card-title>
    <mat-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nunc sem,
      scelerisque vel neque ac, auctor volutpat nibh. Ut magna magna, dignissim
      sed est id, dictum pulvinar sapien. Vivamus posuere tortor eu fermentum
      vulputate. Maecenas sollicitudin turpis urna, id ullamcorper nibh feugiat
      facilisis. Curabitur posuere libero quis ex convallis varius eu ac odio.
      Vivamus ut libero feugiat, commodo turpis facilisis, congue risus. Nulla
      sodales eleifend venenatis. Quisque pharetra cursus sollicitudin.
      Phasellus semper dolor quis nisi imperdiet malesuada.
    </mat-card-content>
  </mat-card>
</div>
