<mat-toolbar class="sticky-bar" color="primary">
  <button mat-stroked-button class="sticky-bar__button" routerLink="/">
    <div class="sticky-bar__button-wrapper">
      <mat-icon> home </mat-icon>
      <span>Home</span>
    </div>
  </button>
  <button mat-stroked-button class="sticky-bar__button" routerLink="/library">
    <div class="sticky-bar__button-wrapper">
      <mat-icon> library_books </mat-icon>
      <span>Library</span>
    </div>
  </button>
  <button mat-stroked-button class="sticky-bar__button" routerLink="/wishlist">
    <div class="sticky-bar__button-wrapper">
      <mat-icon>sell</mat-icon>
      <span>Wishlist</span>
    </div>
  </button>
  <button mat-stroked-button class="sticky-bar__button" routerLink="/notes">
    <div class="sticky-bar__button-wrapper">
      <mat-icon> note </mat-icon>
      <span>Notes</span>
    </div>
  </button>
</mat-toolbar>
