@use '~@angular/material' as mat;

@import "./styling/fonts";
@import "./styling/light";
@import "./styling/dark";

@include mat.core();

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
    typography: $main-typography,
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
    typography: $main-typography,
  )
);

// default theme
@include mat.all-component-themes($light-theme);

.dark-theme {
  @include mat.all-component-themes($dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
